//ProfileOverviewStyles
.form-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  @media (width: 1024px) and (height: 886px) {
    display: block;
  }

  .form-section {
    flex: 1;
    padding: 25px;
    .text-div {
      background-color: rgb(248, 248, 248);
      border-radius: 10px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
    }
    label {
      width: 100%;
      display: block;
      font-size: large;
      margin-bottom: 8px;
      font-weight: bold;
      @media (width: 1024px) and (height: 886px) {
        font-size: 16px;
        width: 100%;
      }
      @media (width: 1440px) and (height: 886px) {
        font-size: 16px;
        width: 100%;
      }
    }

    span {
      display: flex;
      margin: 2px;
      small {
        color: rgb(242, 70, 70);
        margin: 2px;
      }
      p {
        width: 100%;
        color: gray;
        font-size: large;
        font-weight: 500;
        @media (width: 1024px) and (height: 886px) {
          font-size: 16px;
          width: 100%;
        }
        @media (width: 1440px) and (height: 886px) {
          font-size: 16px;
          width: 100%;
        }
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
