.sub-menu {
  display: flex;
  padding: 10px 50px;
  background-color: #fff;
  @media (width: 1024px) and (height: 886px) {
    padding: 1px 1px;
  }
  @media (width: 1440px) and (height: 886px) {
    font-size: 16px;
  }
  a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 16px;
    padding-bottom: 5px;
    @media (width: 1024px) and (height: 886px) {
      font-size: 13px;
    }
    @media (width: 1440px) and (height: 886px) {
      font-size: 16px;
    }
    &:hover {
      color: #f60;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #f60;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .clicked {
    font-weight: 600;

    &::after {
      width: 100%;
    }
  }
}
