.top-section {
  padding: 1rem 3rem;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(232, 228, 228);
}

.top-section h4 {
  color: #d6760f;
  font-weight: 700;
}

.middle-section {
  padding: 4px;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
.middle-section p {
  font-weight: 600;
  font-size: 1.2rem;
}

.middle-section span {
  font-weight: 600;
  padding: 5px;
}

.main-section {
  padding: 0rem 1rem 2rem 2rem;
}

